<% include ./partials/header %>

<a href="/story/new">Add New Post</a>

<% stories.forEach((story) => { %>


  <div class="ui main text container">
      <h2><%= story.title %></h2>
    <p><%= story.created %></p>
  </div>
  <div>
    <img src="<%= story.image %>" alt="">
  </div>
  <div>
    <p><%= story.body.substring(0, 100) %> ...</p>
    <a href="story/<%=story.id%>">Read More</a>
  </div>



  <% }) %>
  
  <% include ./partials/footer %>